.v1 {
  position:absolute;
  left: 450px;
  top: 20%;
  transform: translate(-50%, -50%);

}

.v2 {
  position:absolute;
  left: 450px;
  top: 600px;
  transform: translate(-50%, -50%);

}

.v3 {
  position:absolute;
  left: 450px;
  top: 1100px;
  transform: translate(-50%, -50%);

}

.v4 {
  position:absolute;
  left: 1200px;
  top: 1100px;
  transform: translate(-50%, -50%);

}

.v5 {
  position:absolute;
  left: 1200px;
  top: 600px;
  transform: translate(-50%, -50%);

}

.v6 {
  position:absolute;
  left: 1200px;
  top: 20%;
  transform: translate(-50%, -50%);

}
