.drop {
  position: fixed;
  width: 250px;
  height: 250px;
  left: 1400px;
  margin-top: 155px;

}

body {
  background-image: url("task.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: 1690px;
  background-color: lightblue;





}
